<!-- Header top-->
<div class="headerTop">
    <a href="./index.html" class="logo">
        <img src="./assets/media/common/logo.svg" alt="" class="logo__icon">
        <span class="logo__brand">Ecobazar</span>
    </a>
    <div class="headerTop__search">
        <label class="headerTop__search--label" for="headerTop__search--input">
            <input class="headerTop__search--input" type="text" name="" id="headerTop__search--input"
                placeholder="Search">
            <img src="./assets/media/header/search.svg" alt="" class="headerTop__search--img">
        </label>
        <button class="headerTop__search--btn">Search</button>
    </div>

    <div class="headerTop__action">
        <a href="./login.html" class="headerTop__action--btn headerTop__login">Login</a>
        <a href="./signin.html" class="headerTop__action--btn headerTop__signin">Sign in</a>
    </div>

    <div class="headerTop__user">
        <a class="headerTop__like" href="">
            <img src="./assets/media/common/like.svg" alt="" class="headerTop__like--icon">
            <span class="headerTop__like--count">3</span>
        </a>
        <a href="" class="headerTop__basket">
            <div class="headerTop__basket--img">
                <img src="./assets/media/common/basket.svg" alt="" class="headerTop__basket--icon">
                <span class="headerTop__basket--count">2</span>
            </div>
            <div class="headerTop__basket--info">
                <span class="headerTop__basket--title">Shopping cart:</span>
                <b class="headerTop__basket--cost">$57.00</b>
            </div>
        </a>
    </div>
</div>

<!-- Navagator-->
<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <a href="./index.html" class="navbar__item--link">Home</a>
        </li>
        <li class="navbar__item">
            <a href="./products.html" class="navbar__item--link">Shop</a>
        </li>
        <li class="navbar__item">
            <a href="./blog.html" class="navbar__item--link">Blog</a>
        </li>
        <li class="navbar__item">
            <a href="./about.html" class="navbar__item--link">About Us</a>
        </li>

        <li class="navbar__item">
            <a href="" class="navbar__item--link">FAQs</a>
        </li>

        <li class="navbar__item">
            <a href="./contact.html" class="navbar__item--link">Contact Us</a>
        </li>
    </ul>

    <div class="navbar__account">
        <span class="navbar__account--name">user123</span>
        <label for="navbar__account--btn__checkbox" class="navbar__account--btn">
            <img src="./assets/media/common/user.jpg" alt="" class="navbar__account--img">
        </label>
        <input type="checkbox" name="navbar__account--btn__checkbox" id="navbar__account--btn__checkbox"
            class="navbar__account--btn__checkbox" hidden>

        <div class="navbar__account--dropdown">
            <button class="navbar__account--dropdown--item signOut__btn" onclick="handleLogout()">
                <svg class="navbar__account--dropdown--item__img" xmlns="http://www.w3.org/2000/svg" width="18"
                    height="18" viewBox="0 0 18 18" fill="none">
                    <path
                        d="M16 18H7C6.46957 18 5.96086 17.7893 5.58579 17.4142C5.21071 17.0391 5 16.5304 5 16V12H7V16H16V2H7V6H5V2C5 1.46957 5.21071 0.960859 5.58579 0.585786C5.96086 0.210714 6.46957 0 7 0H16C16.5304 0 17.0391 0.210714 17.4142 0.585786C17.7893 0.960859 18 1.46957 18 2V16C18 16.5304 17.7893 17.0391 17.4142 17.4142C17.0391 17.7893 16.5304 18 16 18ZM9 13V10H0V8H9V5L14 9L9 13Z"
                        fill="currentColor" />
                </svg>
                Logout
            </button>
        </div>
    </div>

    <div class="navbar__telephone">
        <img src="./assets/media/common/telephone.svg" alt="" class="navbar__telephone--img">
        <span class="navbar__telephone--tel">(219) 555-0114</span>
    </div>

    <label for="header__toggle-menu" class="header__toggle-menu">
        <svg class="header__toggle-menu__icon" xmlns="http://www.w3.org/2000/svg" width="33" height="33"
            viewBox="0 0 33 33">
            <g clip-path="url(#clip0_1545_14924)">
                <path d="M31.3758 4.93771H1.2998" stroke="currentColor" stroke-width="2.31353" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M31.3758 16.5054H1.2998" stroke="currentColor" stroke-width="2.31353" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M31.3758 28.0731H1.2998" stroke="currentColor" stroke-width="2.31353" stroke-linecap="round"
                    stroke-linejoin="round" />
            </g>
            <defs>
                <clipPath id="clip0_1545_14924">
                    <rect width="32.3895" height="32.3895" fill="currentColor"
                        transform="translate(0.143066 0.310608)" />
                </clipPath>
            </defs>
        </svg>
    </label>
</nav>

<!-- Header Mobile-->
<div class="headerMobile">
    <input type="checkbox" name="" id="header__toggle-menu" class="headerMobile__menu--checkbox" hidden>
    <label for="header__toggle-menu" class="headerMobile__overlay"></label>
    <div class="headerMobile__menu--drawer">
        <a href="" class="logo">
            <img src="./assets/media/common/logo.svg" alt="" class="logo__icon">
            <span class="logo__brand">Ecobazar</span>
        </a>

        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="" class="navbar__item--link">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__item--link">Shop</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__item--link">Pages</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__item--link">Blog</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__item--link">About Us</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__item--link">Contact Us</a>
                </li>
            </ul>
        </nav>

        <div class="headerTop__action">
            <a href="./login.html" class="headerTop__action--btn headerTop__login">Login</a>
            <a href="./signin.html" class="headerTop__action--btn headerTop__signin">Sign in</a>
        </div>

        <div class="navbar__telephone">
            <img src="./assets/media/common/telephoneDark.svg" alt="" class="navbar__telephone--img">
            <span class="navbar__telephone--tel">(219) 555-0114)</span>
        </div>
    </div>
</div>

<script src="./js/signOut.js"></script>