<!-- Header top-->
<div class="headerTop">
    <a href="" class="logo">
        <img src="./assets/media/common/logo.svg" alt="" class="logo__icon">
        <span class="logo__brand">Ecobazar</span>
    </a>
    <div class="headerTop__search">
        <label class="headerTop__search--label" for="headerTop__search--input">
            <input class="headerTop__search--input" type="text" name="" id="headerTop__search--input"
                placeholder="Search">
            <img src="./assets/media/header/search.svg" alt="" class="headerTop__search--img">
        </label>
        <button class="headerTop__search--btn">Search</button>
    </div>

    <div class="headerTop__action" style="display: none;">
        <button class="headerTop__action--btn headerTop__login">Login</button>
        <button class="headerTop__action--btn headerTop__signin">Sign in</button>
    </div>

    <div class="headerTop__user">
        <a class="headerTop__like" href="">
            <img src="./assets/media/common/like.svg" alt="" class="headerTop__like--icon">
            <span class="headerTop__like--count">3</span>
        </a>
        <a href="" class="headerTop__basket">
            <div class="headerTop__basket--img">
                <img src="./assets/media/common/basket.svg" alt="" class="headerTop__basket--icon">
                <span class="headerTop__basket--count">2</span>
            </div>
            <div class="headerTop__basket--info">
                <span class="headerTop__basket--title">Shopping cart:</span>
                <b class="headerTop__basket--cost">$57.00</b>
            </div>
        </a>
    </div>
</div>

<!-- Navagator-->
<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <a href="" class="navbar__item--link">Home</a>
        </li>
        <li class="navbar__item">
            <a href="" class="navbar__item--link">Shop</a>
        </li>
        <li class="navbar__item">
            <a href="" class="navbar__item--link">Pages</a>
        </li>
        <li class="navbar__item">
            <a href="" class="navbar__item--link">Blog</a>
        </li>
        <li class="navbar__item">
            <a href="" class="navbar__item--link">About Us</a>
        </li>
        <li class="navbar__item">
            <a href="" class="navbar__item--link">Contact Us</a>
        </li>
    </ul>

    <div class="navbar__account" style="display: none;">
        <span class="navbar__account--name">user123</span>
        <button class="navbar__account--btn">
            <img src="./assets/media/common/user.jpg" alt="" class="navbar__account--img">
        </button>
    </div>

    <div class="navbar__telephone">
        <img src="./assets/media/common/telephone.svg" alt="" class="navbar__telephone--img">
        <span class="navbar__telephone--tel">(219) 555-0114</span>
    </div>

    <label for="header__toggle-menu" class="header__toggle-menu">
        <svg class="header__toggle-menu__icon" xmlns="http://www.w3.org/2000/svg" width="33" height="33"
            viewBox="0 0 33 33">
            <g clip-path="url(#clip0_1545_14924)">
                <path d="M31.3758 4.93771H1.2998" stroke="currentColor" stroke-width="2.31353" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M31.3758 16.5054H1.2998" stroke="currentColor" stroke-width="2.31353" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M31.3758 28.0731H1.2998" stroke="currentColor" stroke-width="2.31353" stroke-linecap="round"
                    stroke-linejoin="round" />
            </g>
            <defs>
                <clipPath id="clip0_1545_14924">
                    <rect width="32.3895" height="32.3895" fill="currentColor"
                        transform="translate(0.143066 0.310608)" />
                </clipPath>
            </defs>
        </svg>
    </label>
</nav>

<!-- Header Mobile-->
<div class="headerMobile">
    <input type="checkbox" name="" id="header__toggle-menu" class="headerMobile__menu--checkbox" hidden>
    <label for="header__toggle-menu" class="headerMobile__overlay"></label>
    <div class="headerMobile__menu--drawer">
        <a href="" class="logo">
            <img src="./assets/media/common/logo.svg" alt="" class="logo__icon">
            <span class="logo__brand">Ecobazar</span>
        </a>

        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="" class="navbar__item--link">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__item--link">Shop</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__item--link">Pages</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__item--link">Blog</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__item--link">About Us</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__item--link">Contact Us</a>
                </li>
            </ul>
        </nav>

        <div class="headerTop__action">
            <button class="headerTop__action--btn headerTop__login">Login</button>
            <button class="headerTop__action--btn headerTop__signin">Sign in</button>
        </div>

        <div class="navbar__telephone">
            <img src="./assets/media/common/telephoneDark.svg" alt="" class="navbar__telephone--img">
            <span class="navbar__telephone--tel">(219) 555-0114</span>
        </div>
    </div>
</div>